<div  class="card-div" *ngFor="let track of tracks">
  <div>
    <mat-card class="track-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ track.trackname }}</mat-card-title>
        <mat-card-subtitle>Country: {{ track.country }}, Length: {{ track.length }}m</mat-card-subtitle>
        <mat-card-subtitle>Official record: {{ track.official_record }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="data:image/jpg;base64,{{ track.layout_image }}" alt="{{ track.trackname }}" />
      <mat-card-actions>
        <button mat-button>Register time</button>
        <button mat-button>View times</button>
        <button mat-button (click)="editdrawer.toggle()" (click)="onSelect(track)">Edit track</button>
      </mat-card-actions>
      
    </mat-card>
    
  </div>
</div>
  <mat-drawer #editdrawer class="example-sidenav" mode="push"> 
      <div class="example-sidenav-content">
          <app-trackdetail [track]="selectedTrack"></app-trackdetail>
        </div>
  </mat-drawer>

  
